{% extends "resetpws/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}



<div class="content">
           
            
    <form method="post" class="form" enctype="multipart/form-data" style="top: 150px; left: 450px; height: 250px;">
        {% csrf_token %}
        <h2>Forgotten your password?</h2>
        <input type="email" name="email" placeholder="Enter Email ">
        
        <button type="submit" class="btnn">Submit</a></button>
    
    </form>


</div>
{% endblock %}