{% extends "resetpws/base.html" %}
<!--alert-->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<!--alert css-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="content">



<form method="post" class="form" enctype="multipart/form-data" style="top: 150px; left: 450px; height: 350px;">
 
 {% csrf_token %}
 <h2>Reset your password</h2>
 
 <input type="text"  name="user_email" placeholder="Pls enter ur email" value="{{us.user_email}}">
 
 
 <input type="password" id="myInput" placeholder="pls enter password" name="user_pwd">
 
 <input type="checkbox" style="border: 10px; width: 15px;" onclick="myFunction()">
 <label for="demo"> Show Password</label>
 
<div>
  
 <button type="submit" class="btnn" value="Change my password">submit</button></div>

 
 
</form>

</div>
 



<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>
<script> 
		
  {% for flashmsg in messages %} 
    alertify.set('notifier','position', 'top-center');
    alertify.success('{{flashmsg}}');
  
  {% endfor %}
  
</script>
{% endblock %}