
/** code by webdevtrick ( https://webdevtrick.com ) */
.tabs {
  display: flex;
  flex-wrap: wrap;
}
 
.tabs h6 {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background:  #4b07e7;
  font-weight: bold;
  transition: background ease 0.2s;
}
 
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}
 
.tabs input[type="radio"] {
  display: none;
}
 
.tabs input[type="radio"]:checked + h6 {
  background: #fff;
}
 
.tabs input[type="radio"]:checked + h6 + .tab {
  display: block;
}
 
@media (max-width: 45em) {
  .tabs .tab,
  .tabs h6 {
    order: initial;
  }
 
  .tabs h6 {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
 
