<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit-Task</title>
    {% load static %}
    <!-- BOOTSTRAP STYLES-->
    <script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
    <link href="{% static 'manager/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'manager/css/font-awesome.css' %}" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'manager/css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'manager/css/custom.css' %}" rel="stylesheet" />
   
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Codebook</a>
            </div>

            <div class="header-right">

                <a href="login.html" class="btn " title="Logout"><i class="fa fa-signin fa-2x"></i></a>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <div class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        {% for k in demo1 %}
                        <div class="user-img-div">
                            <img src="/media/{{k.emp_photo}}" width="80px" height="80px"  class="img-thumbnail" />

                            <div class="inner-text">
                                {{k.emp_name}}
                            <br />
                                <small>{{k.emp_designation}}</small>
                            </div>
                        </div>
                        {% endfor %}

                    </li>


                    <li>
                        <a class="active-menu" href="{% url 'manager_dashboard' %}"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    
                        
                         
                    <li>
                        <a href="{% url 'view_emp' %}"><i class="fa fa-plus "></i>View Employee</a>
                    </li>
                    <li>
                        <a href="{% url 'view_project' %}"><i class="fa fa-eye "></i>View My Project</a>
                    </li>
                    <li>
                        <a href="{% url 'assign_project' %}"><i class="fa fa-flash "></i> Assign project</a>
                        
                    </li>
                    <li>
                        <a href="{% url 'add_task' %}"><i class="fa fa-flash "></i>Add Task </a>
                        
                    </li>
            <li>
                <a href="{% url 'view_task' %}"><i class="fa fa-flash "></i>view Task </a>
                
            </li>
            <li>
                <a href="{% url 'task_status' %}"><i class="fa fa-flash "></i> Task Status </a>
                
            </li>

            <li>
                <a href="{% url 'project_status' %}"><i class="fa fa-flash "></i> Project Status </a>
                
            </li>
             
            <li>
                <a href="{% url 'manager_login' %}"><i class="fa fa-sign-in "></i>Logout</a>
            </li>  
                 
                </ul>

            </div>
        </div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">ADD TASK</h1>
                        <h1 class="page-subhead-line"> Welcome you on behalf of the team and hope that we will have a fantastic time working together. </h1>
                        <div class="row " style="background-color:whitesmoke ;padding:10px;margin: 10px;border-radius:12px;">
                            <div class="col-lg-7 ">
                                <div class="card mt-2 mx-auto p-4 bg-light">
                                    <div class="card-body bg-light">
                                        <div class="container">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="controls">
                                                    <div class="row">
                                                            <div class="col-md-7 margin:0px;">
                                                                <div div class="form-group"> 
                                                                    <label for="form_need">Project Name*</label> 
                                                                    <select  id="form_need" name="pro_name" class="form-control" required="required" data-error="Please specify your need."> </div>
                                                                        <option deactivate value="{{data.pro_name}}">{{data.pro_name}}</option>
                                                                        {% for j in demo %}
                                                                        <option>{{j.pro_name}}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                    
                                                                </div>
                                                            </div>
                                                     
                                                            <div class="col-md-7">
                                                                <div class="form-group"> 
                                                                    <label for="form_need">Employee Name*</label> 
                                                                    <select  id="form_need" name="emp_name" class="form-control" required="required" data-error="Please specify your need."> </div>
                                                                        <option deactivate value="{{data.emp_assigner}}" >{{data.emp_assigner}}</option>
                                                                        {% for i in obj %}
                                                                        <option>{{i.emp_name}}</option> 
                                                                        {% endfor %}
                                                                    </select>  
                                                                    
                                                                </div>
                                                            </div>
                                                   

                                                        <div class="col-md-7">
                                                            <div class="form-group"> 
                                                                <label for="form_need">Date of Due*</label> 
                                                                <input type="date" id="form_need" name="due_date" class="form-control" required="required" data-error="Please specify your need." value="{{i.due_date}}"> 
                                                            </div>
                                                        </div>
                                                        

                                                        <div class="col-md-7">
                                                            <div class="form-group"> <label for="form_need">Priorty*</label> 
                                                                <select  id="form_need" name="priorty" class="form-control" required="required" data-error="Please specify your need."> 
                                                                <option deactivate value="{{data.priorty}}">{{data.priorty}}</option>
                                                                <option>High</option> 
                                                                <option>Medium</option> 
                                                                <option>Low</option>
                                                                </select>
                                                            </div>            
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="form-group">
                                                                <label for="form_need">Text*</label> 
                                                                
                                                                    <textarea class="form-control" style="resize:none" id="exampleFormControlTextarea3" rows="3" placeholder="Type here..." name="text" >{{data.text}}</textarea>
                   
                                                            </div>
                                                        </div>
                                                        
                                        </div>
                                        <div style="padding:15px ;">
                                            <div style="margin-left:0px"><button class="btn btn-success">Update</button></div>
                                        </div>
                                      </form>
                                    </div>
                                </div> <!-- /.8 -->
                            </div> <!-- /.row-->
                        </div>
                        
                    </div>
                    
                </div>
                  
                  
                </div>
                <!-- /. ROW  -->
                    
                


                    </div>
                </div>
                
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2014 Codebook | Design By : <a href="https://www.codebook.in/" target="_blank">Codebook.in</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'manager/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'manager/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'manager/js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'manager/js/custom.js' %}"></script>
    <script>
		{% for msg in messages %} 
				   
		   swal("Server Response", "{{msg}}");
	   {% endfor %} 
   </script>


</body>
</html>
