<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task-Status</title>
    {% load static %}
    <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
    <link href="{% static 'manager/css/bootstrap.css' %}" rel="stylesheet" />
   
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'manager/css/font-awesome.css' %}" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'manager/css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'manager/css/custom.css' %}" rel="stylesheet" />
    
    <!-- <link href="manager/css/pride.css" rel="stylesheet" /> -->
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Codebook</a>
            </div>

            <div class="header-right">

                <a href="login.html" class="btn " title="Logout"><i class="fa fa-signin fa-2x"></i></a>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <div class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        {% for i in obj %}
                        <div class="user-img-div">
                            <img src="/media/{{i.emp_photo}}" width="80px" height="80px" class="img-thumbnail" />

                            <div class="inner-text">
                                {{i.emp_name}}
                            <br />
                                <small>{{i.emp_designation}}</small>
                            </div>
                        </div>
                        {% endfor %}

                    </li>


                    <li>
                        <a href="{% url 'manager_dashboard' %}"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    
                        
                         
                    <li>
                        <a href="{% url 'view_emp' %}"><i class="fa fa-plus "></i>View Employee</a>
                    </li>
                    <li>
                        <a href="{% url 'view_project' %}"><i class="fa fa-eye "></i>View My Project</a>
                    </li>
                    <li>
                        <a href="{% url 'assign_project' %}"><i class="fa fa-flash "></i> Assign project</a>
                        
                    </li>
                    <li>
                        <a href="{% url 'add_task' %}"><i class="fa fa-flash "></i>Add Task </a>
                        
                    </li>
            <li>
                <a href="{% url 'view_task' %}"><i class="fa fa-flash "></i>view Task </a>
                
            </li>
            <li>
                <a class="active-menu" href="#"><i class="fa fa-flash "></i> Task Status </a>
                
            </li>

            <li>
                <a  href="{% url 'project_status' %}""><i class="fa fa-flash "></i> Project Status </a>
                
            </li>
             
            <li>
                <a href="{% url 'manager_login' %}"><i class="fa fa-sign-in "></i>Logout</a>
            </li>
                    
                 
                </ul>

            </div>
        </div>
        
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    
                    <div class="col-md-12">
                        <h1 class="page-head-line">Task STATUS</h1>
                        <h1 class="page-subhead-line"> Welcome you on behalf of the team and hope that we will have a fantastic time working together. </h1>
                        <div class="row">
                            
                            <div class="col-md-12">
                                <!-- 16:9 aspect ratio -->
                                
                                
                                        <div class="w3-bar w3-black">
                                            <button class="w3-bar-item w3-button" onclick="openCity('London')">Off Track</button>
                                            <button class="w3-bar-item w3-button" onclick="openCity('Paris')">On Track</button>
                                            <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Completed</button>
                                        </div>
                                        
                                        <div id="London" class="w3-container city">
                                            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
                                                <thead>
                                                    <tr style="background-color: rgb(53, 236, 114);color:rgb(15, 15, 15)">
                                                        <th >S.no</th>
                                                        
                                                        <th>Project Name: </th>
                                                        <th>Employee Name:</th>
                                                        <th>Due of Date:</th>
                                                        <th>Priorty:</th>
                                                        <th>Text:</th>
                                                        
                                                        <th>Status Of Project</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k in data1 %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td><span >{{k.pro_name}}</span></td>
                                                        <td>{{k.emp_assigner}}</td>                                               
                                                        <td><span >{{k.due_date}}</span></td>                                                
                                                        <td><span >{{k.priorty}}</span></td>
                                                        <td><span >{{k.text}}</span></td>
                                                        <td><span >{{k.status}}</span></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                        <div id="Paris" class="w3-container city" style="display:none">
                                            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
                                                <thead>
                                                    <tr style="background-color: rgb(97, 212, 228);color:rgb(15, 15, 15)">
                                                        <th >S.no</th>
                                                        
                                                        <th>Project Name: </th>
                                                        <th>Employee Name:</th>
                                                        <th>Due of Date:</th>
                                                        <th>Priorty:</th>
                                                        <th>Text:</th>
                                                        
                                                        <th>Status Of Project</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for j in data %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td><span >{{j.pro_name}}</span></td>
                                                        <td>{{j.emp_assigner}}</td>                                               
                                                        <td><span >{{j.due_date}}</span></td>                                                
                                                        <td><span >{{j.priorty}}</span></td>
                                                        <td><span >{{j.text}}</span></td>
                                                        <td><span >{{j.status}}</span></td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                        <div id="Tokyo" class="w3-container city" style="display:none">
                                            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
                                                <thead>
                                                    <tr style="background-color: rgb(188, 238, 73);color:rgb(15, 15, 15)">
                                                        <th >S.no</th>
                                                        
                                                        <th>Project Name: </th>
                                                        <th>Employee Name:</th>
                                                        <th>Due of Date:</th>
                                                        <th>Priorty:</th>
                                                        <th>Text:</th>
                                                        
                                                        <th>Status Of Project</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for l in data2 %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td><span >{{l.pro_name}}</span></td>
                                                        <td>{{l.emp_assigner}}</td>                                               
                                                        <td><span >{{l.due_date}}</span></td>                                                
                                                        <td><span >{{l.priorty}}</span></td>
                                                        <td><span >{{l.text}}</span></td>
                                                        <td><span >{{l.status}}</span></td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                   
                                    
        
                            </div>
                        </div>
                        
                    </div>
                </div>
                    
                  
                </div>
                <!-- /. ROW  -->
                    <hr />
                


                    </div>
                </div>
                
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2014 codebook | Design By : <a href="https://www.codebook.in/" target="_blank">Codebook.in</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'manager/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'manager/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'manager/js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'manager/js/custom.js' %}"></script>
    <script>
        function openCity(cityName) {
          var i;
          var x = document.getElementsByClassName("city");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          document.getElementById(cityName).style.display = "block";  
        }
        </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
		{% for msg in messages %} 
				   
		   swal("Server Response", "{{msg}}");
	   {% endfor %} 
   </script>

</body>
</html>
